*{
    margin: 0px;
    padding: 0px;
}

body{
    text-align: center;
}

.contenedor{
    margin: 10px auto;
    border: 1px solid rgb(44, 44, 70);
    height: 1000px;
    width: 1000px;
    display: inline-block;
}


/*Panel izquierdo*/
.infor{
    background-color: rgb(72, 78, 94);
    height: 100%;
    color: white;
    float: left;
    width: 35%;
}
    img{
        width: 200px;
        padding-top: 150px;
    }
    .nombre{
        font-size: 25px;
        margin: 15px;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
    .separador{
        color: white;
        margin: 0px 12px;
    }
    .subtitulos{
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 20px;
        text-align: left;
        padding: 0px 20px;
        padding-top: 30px;
        padding-bottom: 5px;
    }
.textos{
    text-align: left;
    padding: 0px 10px 0px 20px;
}

.idiomas li{
    text-align: left;
    padding: 0px 10px;
}

.infor_contacto{
    display: flex;
    margin: 10px 0px 0px 35px;
}

    .infor_contacto img{
        width: 40px;
        padding: 0px;
        margin: 0px 5px 0px 15px;
        filter: brightness(1.1);
        mix-blend-mode: multiply;
    }
        .infor_contacto img:hover{
            width: 50px;
        }



.idiomas{
    margin: 0px 10px 10px 10px;
}


/*Panel Derecho*/
.infor2{
    width: 65%;
    float: left;
    height: 100%;
    background-color: rgb(251, 249, 240);
}

.subtitulos2{
    font-size: 20px;
    text-align: left;
    padding: 5px 30px;
    color:  rgb(72, 78, 94);
    font-weight: 1000;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   
}
.panel{
    background-color: rgb(255, 238, 193);
    margin: 100px 30px 0px 90px;

}
.textos2{
    margin: 0px 10px 0px 120px;
    color: rgb(35, 40, 54);
    font-size: 20px;
    text-align: left;
}

.lista{
    margin: 0px 200px;
}

.lista ul{
    margin: 10px 0px;
}

.conocimientos{
    display: flex;
    margin: 40px 0px 0px 140px;
}

    .conocimientos img{
        width: 60px;
        padding: 5px;
        margin: 0px 10px;
    }
        .conocimientos img:hover{
            width: 60px;

        }

.educacion{
    margin-top: 30px;
}


.date{
    text-align: left;
    color: rgb(113, 121, 142);
    margin-left: 120px;
}

.xd{
    margin-bottom: 100px;
}